<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <form action="{% url 'add-book' %}" method="POST">
        {% csrf_token %}
        <h1>Добавить книгу</h1>
        <input type="text" name="title" placeholder="Заголовок"><br><br>
        <input type="text" name="subtitle" placeholder="Подзаголовок"><br><br>
        <input type="text" name="description" placeholder="Описание"><br><br>
        <input type="number" name="price" placeholder="Цена"><br><br>
        <input type="text" name="genre" placeholder="Жанр"><br><br>
        <input type="text" name="author" placeholder="Автор"><br><br>
        <input type="datetime-local" name="year" placeholder="Год"><br><br>
        <button>Добавить книгу</button>
    </form>

    {% for book in books %}
        <div>
            <h3>{{ book.title }} - {{ book.author }}</h3>
            <h4>{{ book.price }}</h4>
        </div>
    {% endfor %}
</body>
</html>